<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/vue.js"></script>
	<title>Document</title>
	<style>
		.transition-mh {
			transition: min-height .5s;
		}
	</style>
</head>
<body>
	<!-- Популярные вызовы v-for
	v-for="number in array"
	v-for="number, key in array"

	v-for="value in obj"
	v-for="value, key in obj"
	v-for="value, key , i in obj" { a : 100, b:200 }
	value = 100; key = a; i = 0
	value = 200; key = b; i = 1

	(number, i) in numbers можно и скобки для наглядности
	-->
	<div class="wrapper">
		<div class="sample">

				<button class="btn btn-danger" v-on:click="alertHeight += 50">
					++
				</button>
				<hr>
				<div class="alert alert-success transition-mh " v-bind:style="alertStyles">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, neque.
				</div>
				
				<table class="table" v-bind:style="tableStyles">
					<tr>
						<td>Title</td>
						<td>Some</td>
						<td>Nzz</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>Some</td>
						<td>Nzz</td>
					</tr>
					<tr>
						<td>Title</td>
						<td>Some</td>
						<td>Nzz</td>
					</tr>
				</table>
				{{ alertHeight }}

				{{ tableStyles }}
		</div>
	</div>


	<script>


		let app = Vue.createApp({
			data: () => ({
				alertHeight: 100,
				tableStyles: {
					color: '#f90',
					backgroundColor: '#000',
					fontSize: '20px'
				}
				
			}),
			computed: {
				alertStyles() {
					return {
						'min-height': this.alertHeight + 'px'
					}
				}
			}
					
		});

		app.mount('.sample');

	</script>

</body>
</html>