<!doctype html>
<html lang="ru">
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>1</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <link rel="stylesheet" href="css/font-awesome.min.css">
	 <link href="css/style.css" rel="stylesheet">
	 <script src="js/vue.js"></script>
</head>
<body>
	 <div class="wrapper">
		  <div class="sample">
				<form>
				<div class="progress">
					<div class="progress-bar" v-bind:style="progressStyles"></div>
				</div>
				<div>
				{{progressStyles}}
					<app-application 
						v-for="(field, i) in info"
						v-bind:name="field.name"
						v-bind:value="field.value"
						v-bind:valid="field.valid"
						v-bind:activated="field.activated"
						successclasses="fa-bath text-primary"
						v-bind:key="i" 
						v-on:input="onInput(i,$event)"
						
					>
	
					</app-application>
				</div>
				<button class="btn btn-primary" v-bind:disabled="!formReady">
					Send Data
				</button>
			</form>
			<pre>{{ info }}</pre>
			<div>
				<table class="table table-bordered">
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	 </div>
	<script>

		let AppAplication = {
			props: {
				name: String,
				value: String,
				valid: Boolean,
				activated: Boolean,
				successclasses: {
					type: String,
					default: 'fa-check-circle text-success'
				},
				errorclasses: {
					type: String,
					default: 'fa-exclamation-circle text-danger'
				}
			},
			computed: {
						alertClass() {
							return {
								[this.errorclasses]:this.valid == false,
								[this.successclasses]: this.valid == true
							}
						},

			},

			template: `<div class="form-group" >
						<label>{{ name }}</label>
						<span v-if="activated"
						class="fa"
						v-bind:class = "alertClass">
						</span>
						<input 	type="text" class="form-control" 
										
										v-bind:value="value"
										>
									
					</div>`,

					
		}
		
		let app = Vue.createApp({
			data: () => ({
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				]
			}),
			computed:{
				fieldsDone() {
				//	return //[0, info.length] this.info.reduce(element)
				let sum = this.info.reduce(function(total, item){
					return total + item.valid;
				},0);

				return sum;
				},
				formReady() {
					return this.fieldsDone === this.info.length;
				},
				progressStyles() {
					return {
						'width': this.fieldsDone * (100 / this.info.length) + '%'
 					};
				}
			},
			methods: {
				onInput(i,e) {
					console.log(e.target.value,i);
					let field = this.info[i];
					field.value = e.target.value.trim();
					field.valid = 	field.pattern.test(field.value);
					field.activated = true;
				},
				
			},
			created() {
				return this.info.forEach(element => {
					element.activated = element.value !== ''; // hw element.pattern.test(element.value)
					element.valid = element.pattern.test(element.value); // hw element.pattern.test(element.value)
				});
			}
		});

		app.component('app-application', AppAplication);

		app.mount('.sample');
	</script>
</body>
</html>