<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="/js/vue.js"></script>
    <style>
        .sample {
            max-width: 300px;
            margin: 0 auto;
        }
        .scroll-wrapper {
            background-color: green;
            color: aliceblue;
            height: 300px;
            max-width: 300px;
            margin: 0 auto;
            overflow-y: scroll;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="sample">

            <hr>
            <div class="scroll-wrapper" v-on:scroll='Scroll'>
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </div>
            <hr>

            {{ scroll }}
            <div class="elements-wrapper" v-if="inButtom">
                <div>
                    <label>
                        <input type="checkbox" value="agree" v-model="alertType1">
                        Agree all
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" value="spam" v-model="alertType2">
                        Get spam
                    </label>
                </div>
                <div class="spam-wrapper" v-if="alertType2"> 
                    <label>
                        <input type="radio" name="spam" id=""> 
                        Email
                    </label>
                    <label>
                        <input type="radio" name="spam" id="">
                        Phone
                    </label>
                </div>

                <button class="btn btn-warning" v-bind:disabled="!alertType1">
                    Send Data
                </button>
            </div>
        </div>
    </div>

    <script>

        let app = Vue.createApp({
            data: () => ({
                scroll: 0,
                heightScroll: 0,
                inButtom: false,
                alertType1: false,
				alertType2: false,
            }),
            methods: {
                Scroll(e) {
                    this.scroll = e.target.scrollTop;
                    this.heightScroll = e.target.scrollHeight - e.target.clientHeight;
                    
                    if(this.heightScroll  == this.scroll){
                        this.inButtom = true;
                    }else {
                        this.inButtom = false;
                    }
                }
            },
            computed: {

			}
        });

        app.mount('.sample');

    </script>

</body>

</html>